<h1>This is Customers Index</h1>
@{
    var Custmers = (List<Customer>)ViewData["Custmers"];
}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"> First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var custmer in Custmers)
        {
        <tr>

            <td>@custmer.Id</td>
            <td>@custmer.FirstName</td>
            <td>@custmer.LastName</td>
            <td>@custmer.Email</td>
            <td>@custmer.Number</td>


        </tr>
        }
    </tbody>
</table>
